@page
@model RazorPageEntraId.Pages.CallApiModel
@{
    ViewData["Title"] = "CallApi";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Call API</h2>

<h6>Gets the data from the Entra ID protected Web API (delegated) which uses an Duende IdentityServer API OAuth 2.0 Token exchange flow</h6>

<div class="text-center">
    <h2 class="display-4">Photo data from Entra ID</h2>
    @if (Model.Photo.Length > 0)
    {
        <img width="200" src="data:image;base64,@System.Convert.ToBase64String(Model.Photo!)" />
    }
    else
    {
        <p>No profile photo for this user</p>
    }
</div>